[user]
  name = Dũng (Trần Đình)
  email = dungtd@trobz.com
[core]
  excludesfile = ~/.gitignore_global
  ; pager = diff-so-fancy | less --tabs=4 -RFX
  editor = /usr/bin/vim
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[gc]
  autoDetach = false
[pull]
  rebase = true
[rebase]
  autoStash = true
[oh-my-zsh]
	hide-status = 1
[web]
  browse = open
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[tig]
  line-graphics = no	# Disable graphics characters
  tab-size = 4		# Number of spaces per tab
