[submodule "tmux/plugins/.tmux"]
	path = tmux/plugins/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule "git/dotbot"]
	path = git/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "git/diff-so-fancy"]
	path = git/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "nvim/plugins/vim-cool"]
	path = nvim/plugins/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "nvim/plugins/incsearch.vim"]
	path = nvim/plugins/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "nvim/plugins/incsearch"]
	path = nvim/plugins/incsearch
	url = https://github.com/haya14busa/incsearch.vim
[submodule "zsh/zsh-z"]
	path = zsh/zsh-z
	url = git@github.com:agkozak/zsh-z.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = git@github.com:lcpz/lain.git
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = git@github.com:streetturtle/awesome-wm-widgets.git
